body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0b0b0b;
    transition: all 0.3s;
    background-image: url('textures/backgrounds/default.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

nav {
    background-color: rgba(11, 11, 11, 0.7);
    border: 3px solid rgba(5, 5, 5, 0.2);
    color: white;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 10%;
    right: 10%;
    height: 55px;
    border-radius: 15px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin-left: 8px;
    font-weight: -600;
}

.logo:active {
    transform: scale(0.95);
}

.logo:hover {
    text-shadow: 0 0 13px rgba(255, 255, 255, 0.5);
}

.logo img {
    height: 35px;
    margin-right: 10px;
    draggable: false;
}

h1, h2, h3 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 35px;
    font-weight: bold;
}

h2 {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: 25px 0;
}

h3 {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
}

.game-info {
    width: calc(20% - 20px);
    height: calc(100vh - 175px);
    position: absolute;
    bottom: 40px;
    right: 40px;
    border: none;
    background-color: #131313;
    z-index: 999;
    border-radius: 0 20px 20px 0;
}

#gameImg {
    max-width: 150px;
    max-height: 150px;
    border-radius: 20px;
	margin-bottom: 5px;
}

.game-details {
    text-align: center;
    position: relative;
    padding: 25px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gibutton {
    background-color: #959595;
    border: none;
    border-radius: 10px;
    padding: 12px 15px;
    cursor: pointer;
    transition: all 0.3s;
    margin: 10px 0;
	display: flex;
    align-items: center;
	font-size: 20px;
}

.gibutton:hover {
    transform: scale(1.08);
	background-color: #cccccc;
}

.gibutton img {
    margin-left: 7px;
	margin-right: 12px;
}

.game {
    width: calc(80% - 20px);
    height: calc(100vh - 175px);
    position: absolute;
    bottom: 40px;
    left: 40px;
    border: none;
    background-color: #171717;
	border-radius: 20px 0 0 20px;
}


.game-iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
	border-radius: 20px 0 0 20px;
}

/* Buttons */
.buttons {
    display: flex;
    align-items: center;
}

.button {
    margin-left: 30px;
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
}

.button a {
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-size: 30px;
    letter-spacing: 0.5px;
    transition: all 0.3s;
    padding: 10px;
    margin-right: 8px;
}

.button a:hover,
.button.active a {
    text-shadow: 0 0 13px rgba(255, 255, 255, 0.5);
}

.button:active {
    transform: scale(0.95);
}


